{% extends 'core/base.html' %}
{% load static %}

{% block breadcrumb %}
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active">Attendance</li>
{% endblock breadcrumb%}

{% block content %}
<div class="container-fluid">
    <div class="animated fade-in">
        {% if today_present %}
            <p class="text-success">Today attendance added</p>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'register:add_attendance' %}">Add attendance</a>
    </div>
</div>
<div id="calendar"></div>
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            defaultDate: new Date().toISOString().slice(0, 10),
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
                {% for attendance in this_month_attendance %}
                    {
                        title: "{{ attendance.employee.first_name }}",
                        start: '{{ attendance.datestr }}',
                        // end: null,
                        color: '#00ff00',
                    },
                {% endfor %}
            ],
            // eventRender: function (event, element) {
            //     element.find('.fc-title').append("<br/>" + event.description);
            // }
        });
    });
</script>
{% endblock %}