{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/responsive.css' %}">
</head>
<body>
    {% load crispy_forms_tags %}  
    <div class="login-page">
        <div class="login-banner">
            <div class="pl-4 pt-5 ">
                <a href="/"><img class=" alchem-logo" src="{% static 'core/img/alchem-icon-2.png' %}" /></a>
               </div>
        </div> 
        <div class="login-right-section">
            <a href="/"><img class=" alchem-logo-hidden" src="{% static 'core/img/alchem-icon.png' %}" /></a>
            <div class=" login-form-details">
                <div> 
                    <h2 class="font-weight-bold ">Reset Password</h2>
                    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                    <form method="POST">
                        {% csrf_token %}
                        {{ password_reset_form|crispy }}                    
                        <button class="btn reset-btn" type="submit">Send email</button>
                        <a href="{% url 'core:login' %}" class="btn back-btn">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
