{% extends 'core/base.html' %}
{% load static %}
{% load has_group %}
{% block content %}

<div class="container-fluid">
	<div class="animated fadeIn">
		<h4 class="my-3"><span id="greeting"></span> {{ user.first_name }}</h4>
		<div class="row">
			{% if user|has_group:'admin' %}
			<div class="col-sm-12 col-lg-6">
				<div class="card text-white bg-primary border-0 shadow">
					<div class="card-body pb-0">
						<h4 class="mb-0">{{ companies.count }}</h4>
						<p>Registered Companies</p>
					</div>
					<div class="chart-wrapper px-3" style="height:70px;">
						<div class="chartjs-size-monitor"
							style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
							<div class="chartjs-size-monitor-expand"
								style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
								<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
							</div>
							<div class="chartjs-size-monitor-shrink"
								style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
								<div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
							</div>
						</div>
						<canvas id="card-chart1" class="chart chartjs-render-monitor" height="70" width="248"
							style="display: block; width: 248px; height: 70px;"></canvas>
					</div>
				</div>
			</div>
			
			<!--/.col-->
			<div class="col-sm-12 col-lg-6">
				<div class="card text-white bg-info border-0 shadow">
					<div class="card-body pb-0">
						<h4 class="mb-0">{{ users.count }}</h4>
						<p>Registered Users</p>
					</div>
					<div class="chart-wrapper px-3" style="height:70px;">
						<div class="chartjs-size-monitor"
							style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
							<div class="chartjs-size-monitor-expand"
								style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
								<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
							</div>
							<div class="chartjs-size-monitor-shrink"
								style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
								<div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
							</div>
						</div>
						<canvas id="card-chart2" class="chart chartjs-render-monitor" height="70" width="248"
							style="display: block; width: 248px; height: 70px;"></canvas>
					</div>
				</div>
			</div>
			{% endif %}
			<!--/.col-->
			{% if user|has_group:'admin' or user|has_group:'project_manager' %}
			<div class="col-sm-12 col-lg-6">
				<div class="card text-white bg-warning border-0 shadow">
					<div class="card-body pb-0">
						<h4 class="mb-0">{{ projects.count }}</h4>
						<p>Projects</p>
					</div>
					<div class="chart-wrapper" style="height:70px;">
						<div class="chartjs-size-monitor"
							style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
							<div class="chartjs-size-monitor-expand"
								style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
								<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
							</div>
							<div class="chartjs-size-monitor-shrink"
								style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
								<div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
							</div>
						</div>
						<canvas id="card-chart3" class="chart chartjs-render-monitor" height="70" width="280"
							style="display: block; width: 280px; height: 70px;"></canvas>
					</div>
				</div>
			</div>
			{% endif %}
			<!--/.col-->
			{% if user|has_group:'admin' or user|has_group:'project_manager' or user|has_group:'employee' %}
			<div class="col-sm-12 col-lg-6">
				<div class="card text-white bg-danger border-0 shadow">
					<div class="card-body pb-0">
						<h4 class="mb-0">{{ tasks.count }}</h4>
						<p>Tasks</p>
					</div>
					<div class="chart-wrapper px-3" style="height:70px;">
						<div class="chartjs-size-monitor"
							style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
							<div class="chartjs-size-monitor-expand"
								style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
								<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
							</div>
							<div class="chartjs-size-monitor-shrink"
								style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
								<div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
							</div>
						</div>
						<canvas id="card-chart4" class="chart chartjs-render-monitor" height="70" width="248"
							style="display: block; width: 248px; height: 70px;"></canvas>
					</div>
				</div>
			</div>
			{% endif %}
			<!--/.col-->
		</div>
		<!--/.row-->
		{% if user|has_group:'admin' %}
		<a href="https://pms.alchemdigital.com/projects/tasks/?start_date_min={{start_date}}&start_date_max={{end_date}}&status=1&status=2">
			<button class="btn btn-primary">View all pending task</button>
		</a>
		{% endif %}
	</div>

</div>
<script>
	var thehours = new Date().getHours();
		var themessage;
		var morning = ('Good morning');
		var afternoon = ('Good afternoon');
		var evening = ('Good evening');

		if (thehours >= 0 && thehours < 12) {
			themessage = morning;

		} else if (thehours >= 12 && thehours < 17) {
			themessage = afternoon;

		} else if (thehours >= 17 && thehours < 24) {
			themessage = evening;
		}

		$('#greeting').append(themessage);
</script>

{% endblock %}