{% extends 'core/base.html' %}
{% load static %}

{% block breadcrumb %}
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Users</li>
        <li class="breadcrumb-item active">Tasks</li>
{% endblock breadcrumb%}

{% block content %}
<div class="container-fluid">
    <div class="animated fade-in">
        <div class="row">
            <div class="pull-right"> 
                <input type="text" name="search_term" id="search-term" />
                <input type="text" name="date_range" id="date-range">
                <i class="fa fa-search" onclick="search()"></i>
                <span id="filter-info"></span>
                <a class="text-primary" onclick="window.location.href = window.location.pathname">Clear Filter</a>
            </div>
            <table class="table table-responsive-sm table-hover table-outline mb-5 ">
                <thead class="thead-light">
                <tr>
                    <th class="text-center" onclick="order_by_selected('project')">Project</th>
                    <th class="text-center" onclick="order_by_selected('employee')">Employee</th>
                    <th class="text-center" onclick="order_by_selected('task_name')">Task Name</th>
                    <th class="text-center" onclick="order_by_selected('status')">Status</th>
                    <th class="text-center" onclick="order_by_selected('start_date')">Start Date</th>
                    <th class="text-center" onclick="order_by_selected('deadline')">Deadline</th>
                    <th class="text-center" onclick="order_by_selected('hours')">Hours</th>
                    <th class="text-center" onclick="order_by_selected('description')">Description</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
                    <tbody>
                        {% for task in page_obj %}
                            <tr>
                                <td class="text-center">
                                    {{ task.project | default_if_none:'-' }}
                                </td>
                                <td class="text-center">
                                    {{ task.employee | default_if_none:'-' }}
                                </td>
                                <td class="text-center">
                                    {{ task.task_name | default_if_none:'-' }}
                                </td>
                                <td class="text-center">
                                    {{ task.get_status_display | default_if_none:'-' }}
                                </td>
                                <td class="text-center">
                                    {{ task.start_date | default_if_none:'-' }}
                                </td>
                                <td class="text-center">
                                    {{ task.deadline | default_if_none:'-' }}
                                </td>
                                <td class="text-center">
                                    {{ task.hours | default_if_none:'-' }}
                                </td>
                                <td class="text-center">
                                    {{ task.description | default_if_none:'-' }}
                                </td>
                                <td class="text-center">
                                    <a class="text-primary" href="#" onclick="edit_task(event, {{ task.id }});"><i class="fa fa-edit"></i></a>
                                    <a class="text-danger" href="#" onclick="delete_task(event, {{ task.id }});"><i class="fa fa-trash"></i></a>
                                    <a class="text-success" href="#" onclick="task_row_click(event, {{ task.id }})"><i class="fa fa-sitemap"
                                            aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    function edit_task(e, task_id) {
        e.stopPropagation()
        window.location.href = '/projects/edit-task/' + task_id
    }
    function delete_task(e, task_id){
        e.stopPropagation()
        if (confirm('Are you sure?'))
            window.location.href = '/projects/delete-task/' + task_id
    }
    function order_by_selected(field_name) {
        let urlParams = new URLSearchParams(window.location.search)
        let to_url = '?'
        if (urlParams.get('direction') == 'asc'){
            to_url = '?order_by='+ field_name +'&direction=desc'
        } else {
            to_url = '?order_by='+ field_name +'&direction=asc'
        }
        if ($('#search-term').val() != '')
            to_url +=  '&search=' + $('#search-term').val()
        window.location.href = to_url
    }
    function search() {
        let search_term = $('#search-term').val()
        let date_range = $('#date-range').val()
        let joiner = '&'
        
        // if (window.location.search == '')
        //     joiner = ''
        if(search_term == '')
            joiner = ''
        
        let url_params = new URLSearchParams(window.location.search)
        url_params.delete('search')
        url_params.delete('date_range')
        to_url = '?' + url_params.toString()
        if ($('#search-term').val() != '')
            to_url += 'search=' + search_term
        if(date_range != '')
            to_url += joiner + 'date_range=' + date_range
        window.location.href = to_url
    }
    $(function(){
        let url_params = new URLSearchParams(window.location.search)
        if (url_params.get('search') != null)
            $('#search-term').val(url_params.get('search'))
        if (url_params.get('order_by') != null) {
            let filter_info = 'Filtered: ' + url_params.get('order_by')
            if (url_params.get('direction') != null)
                filter_info += '(' + url_params.get('direction') + ')'
            $('#filter-info').html(filter_info)
        }
    })
    function task_row_click(e, task_id){
        window.location.href = '/projects/checklists/' + task_id
    }

    function today(){
        var date = new Date()
        var dd = String(date.getDate()).padStart(2, '0');
        var mm = String(date.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = date.getFullYear();

        return mm + '/' + dd + '/' + yyyy;
    }
    // console.log(today())
    $('input[name="date_range"]').daterangepicker({
        startDate: moment().subtract(29, 'days'),
        endDate: moment()
    });
</script>
{% endblock %}